<div class="container col-md-10 col-sm-12"> 
    <h2>Listado de Articulos</h2>
    <div class="row">
        <div class="table-responsive row my-4 ">

            @if (carrito.length > 0){
                
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                       
                        <th>Descripcion</th>
                        <th>Precio</th>
                    
                        <th>Imagen</th>
                    </thead>
                    <tbody>
                        @for (articulo of carrito; track $index) {
                            <tr> 
                                <td>{{articulo.articulo.descripcion}}</td>
                                <td>{{articulo.articulo.precio}}</td>
                                <td>{{articulo.articulo.imagen}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }@else {
                <div class="alert alert-info">Lo sentimos, no existen usuarios en el sistema!</div>
            }
        </div>
    </div>
    
</div>
