<header>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
              <div class="logo">
                  <img src="assets/hano_logo.png" class="logo" alt="">
              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-9 text-end">
              <div class="menu-icon" >
                  <i></i>
              </div>
              <div class="desktop_menu" [class.mobile_menu]="">
                  <ul>
                      <li>Home</li>
                      <li>About</li>
                      <li>Courses</li>
                      <li>Contact</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>
  
